i.fas.fa-thumbtack.fa-lg {
    margin-top: 19px;
    margin-right: 14px;
}

i.fas.fa-bell.fa-lg.mx-2 {
    margin-top: 18px;
}

p {
    margin-top: 14px;
    margin-left: 3px;
    margin-right: 12px;
}